.searchBar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 10px 20px;
  width: 40%;
}

.searchInput {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #4fa94d;
  padding: 5px 10px;
}

.searchButton {
  background-color: #4fa94d;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.searchButton:focus {
  outline: none;
}

.searchInput:focus {
  outline: none;
}

.searchButton:hover {
  background-color: #9ec69d;
}

@media (max-width: 768px) {
  .searchBar {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .searchBar {
    flex-direction: column;
    align-items: stretch;
  }

  .searchButton {
    width: 100%;
  }
}