.card {
  cursor: pointer;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem rgb(126, 126, 126);
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem rgb(126, 126, 126);
  transition: transform 0.2s ease-in-out;
}

.card > img:hover {
  transform: scale(1.05);
}
