.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  gap: 25px;
  padding: 1rem;
  margin: 0 auto;
}

.gridConatiner {
  min-height: 500px; 
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
